<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caixa</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

<div class="navbar">
    <a href="/tickets.html" class="nav-btn">Tickets</a>
    <a href="/estoque.html" class="nav-btn">Estoque</a>
    <a href="/caixa.html" class="nav-btn">Caixa</a>
    <a href="/Cadastro.html" class="nav-btn">Cadastro</a>
    
</div>

<div class="title-bar-caixa">
    <a href="#" class="nav-btn-caixa">Relatório mensal</a>
    <a href="#" class="nav-btn-caixa">Relatório semanal</a>
    <a href="#" class="nav-btn-caixa">Relatório geral</a>
</div>

<form class="container-geral-caixa">
        
    <div class="container">

      conteudo aqui
    </div>

</form>


</body>
</html>
