<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>

<div class="navbar">
    <a href="/tickets.html" class="nav-btn">Tickets</a>
    <a href="/estoque.html" class="nav-btn">Estoque</a>
    <a href="/caixa.html" class="nav-btn">Caixa</a>
    <a href="/Cadastro.html" class="nav-btn">Cadastro</a>
    
</div>

<div class="title-bar">

    <div class="centralizar">Estoque:</div>
    
</div>

<form class="container-geral-estoque">
        
    <div class="container-estoque">

      conteudo aqui
    </div>

</form>


</body>
</html>
