<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <div th:insert="~{fragments/navbar :: nav}"></div>

    <div class="title-bar-cad">
        <a href="#" class="nav-btn-cad">Mercadoria</a>
        <a href="usuario/cadastrar" class="nav-btn-cad">Cadastrar Usuário</a>
        <a href="usuario/listar" class="nav-btn-cad">Editar Usuário</a>

    </div>

    <div th:if="${mensagem}" style="color: green;">
        <p th:text="${mensagem}"></p>
    </div>

    <form class="container-geral">

        <div class="container">

            conteudo aqui
        </div>

    </form>

</body>

</html>