<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar dados da mercadoria</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>

    <div th:insert="~{fragments/navbar :: nav}"></div>
    <div th:insert="~{fragments/navbarCadastros :: navCadastros}"></div>

    <h2>Alterar dados da mercadoria</h2>
    <form th:object="${produto}" action="/produto/editar" method="post">

        <input type="hidden" id="id" name="id" th:field="*{id}">

        <label for="descricao">Descrição: </label>
        <input type="text" id="descricao" name="descricao" th:field="*{descricao}" required>

        <label for="marca">Marca: </label>
        <input type="text" id="marca" name="marca" th:field="*{marca}" required>

        <label for="fornecedor">Fornecedor: </label>
        <input type="text" id="fornecedor" name="fornecedor" th:field="*{fornecedor}" required>

        <label for="unidade">Unidade: </label>
        <input type="text" id="unidade" name="unidade" placeholder="Copo" th:field="*{unidade}" required>

        <label for="quantidade">Quantidade: </label>
        <input type="number" id="quantidade" name="quantidade" th:field="*{quantidade}" required>

        <label for="preco">Preço: </label>
        <input type="number" id="preco" name="preco" step="0.01" th:field="*{preco}" required>

        <label for="pontoSuprimento">Ponto de Suprimento: </label>
        <input type="number" id="pontoSuprimento" name="pontoSuprimento" th:field="*{pontoSuprimento}" required>

        <label for="categoria">Categoria: </label>
        <select id="categoria" name="categoria" required>
            <option selected="selected" value="normal">Normal</option>
            <option value="promocao">Promoção</option>
        </select>

        <label for="tickets">Tickets gerados: </label>
        <input type="number" id="tickets" name="tickets" min="1" th:field="*{tickets}" required>

        <fieldset>
            <legend>Produto ativo?</legend>
            <label for="statusTrue">Sim </label>
            <!-- <input type="radio" name="status" id="statusTrue" value="true" checked> -->
            <input type="radio" name="status" id="statusTrue" value="1" checked>
            <label for="statusFalse">Não </label>
            <!-- <input type="radio" name="status" id="statusFalse" value="false"> -->
            <input type="radio" name="status" id="statusFalse" value="0">
        </fieldset>

        <input id="btnAtualizar" type="submit" value="Alterar">
    </form>
</body>

</html>